html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 35px;
}

h2 {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 25px;
}

li {
    font-family: 'Gelion', sans-serif;
    list-style: none;
}

a {
    font-family: 'Gelion', sans-serif;
    text-decoration: none;
}

p {
    font-family: 'Gelion', sans-serif;
    font-size: 15px;
}


/*=============HEADER==============*/

header {
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: #fff;
}

.logo,
.title {
    margin-top: 10px;
    float: left;
}

.title {
    margin-top: 20px;
}

.logo {
    width: 50px;
    padding-right: 20px;
}

.header-right {
    float: right;
    margin-top: 10px;
}

.menu {
    float: left;
    display: inline-block;
    margin: 15px 20px;
    font-size: 15px;
    font-weight: normal;
    color: #035755;
}

.contact {
    font-size: 15px;
    margin-top: 7px;
    padding: 5px 10px;
    font-weight: normal;
    color: #FF383D;
    border-style: solid;
    border-color: #FB4C47;
}

.menu:hover {
    border-bottom: solid 1px #FA5652;
}

.contact:hover {
    background-color: #FB4C47;
    color: #fff;
}


/*=============TOP MAIN=============*/

.top-main {
    background-image: url("https://github.com/fadhildwia/landing-page-covid19/tree/main/assets/images/background-linear.png");
    background-size: cover;
    padding-top: 100px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.top-main .container {
    background-image: url("https://github.com/fadhildwia/landing-page-covid19/tree/main/assets/images/background-top.png");
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 200px;
}

.container h1 {
    color: #035755;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 100%;
}

.container h2 {
    color: #FA5652;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 120%;
}

.container p {
    width: 500px;
    margin-top: 30px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.btn-main {}

.btn {
    font-weight: bold;
    display: inline-block;
    border-radius: 65px;
}

.btn-bg {
    font-size: 20px;
    padding: 15px 30px;
    color: #fff;
    background-color: #FB4C47;
}


/* ================COVID ABOUT=============== */

.image-about {
    width: 50%;
    height: 600px;
}

.covid-about-main-right {
    float: right;
    width: 50%;
    margin-top: 100px;
}

.about p {
    text-align: left;
    margin: 0 auto;
    padding: 30px 0;
}

.covid-about-main-right .heading p {
    width: 500px;
}

.btn-about {
    font-weight: bold;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 65px;
    background-color: rgba(255, 71, 71, 0.3);
}

.btn-bg-about {
    font-size: 20px;
    color: #FA5652;
}


/* ====================covid-contagion============================= */

.covid-contagion-main {
    text-align: center;
}

.covid-contagion-main p {
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
}

.grid-container {
    display: flex;
}

.grid-item {
    flex: auto;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.grid-item .container {
    padding: 20px;
    border-radius: 10%;
    height: 400px;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contagion-image {
    height: 200px;
    width: 200px;
    padding-bottom: 12px;
}

.grid-item .container h1 {
    font-size: 25px;
}

.grid-item .container p {
    width: 270px;
    color: #4b4f51;
    line-height: 150%;
}


/* ====================SYMPTOMPS============================= */

.covid-symptomps-main {
    margin: 100px 0;
    text-align: center;
}

.covid-symptomps-main p {
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
}

.image-symptomps {
    height: 40%;
    width: 40%;
}


/* ====================WHAT SHOULD WE DO============================= */

.what-should-we-do {
    /* position: absolute; */
    text-align: center;
}

.what-should-we-do .container p {
    margin: auto;
    text-align: center;
    padding: 30px 0;
}


/* wear dan nose */

.wear {}

.wear .mask {
    width: 250px;
    float: right;
}


/*wash dan avoid */

.wash {
    float: right;
    margin-right: 250px;
    width: 800px;
    height: 250px;
    /*background-color: red; */
}

.wash .mask {
    width: 250px;
    float: left;
}

.wash .content {
    margin-top: 50px;
    width: 500px;
    height: 150px;
    /*background-color: blue; */
    float: right;
}

.number {
    float: left;
    margin-bottom: 100%;
}

.ellipse {
    position: relative;
    width: 45px;
    height: 45px;
    background-color: pink;
    opacity: 0.5;
    border-radius: 100%;
}

.ellipse p {
    position: absolute;
    color: #FA5652;
    opacity: 1;
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
}

.text {
    margin-left: 70px;
}

.text h5 {
    font-size: 30px;
}

.text p {
    font-size: 14px;
    padding-top: 5px;
}

.wear .content {
    margin-top: 50px;
    width: 500px;
    height: 150px;
    /* background-color: blue; */
    float: left;
}
