html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: 'Red Hat Text', sans-serif;
}

li {
    font-family: 'Gelion', sans-serif;
    list-style: none;
}

a,
p {
    font-family: 'Gelion', sans-serif;
    text-decoration: none;
}


/*=============HEADER==============*/

header {
    height: 100px;
    width: 100%;
    position: fixed;
}

.logo,
.title {
    margin-top: 30px;
    float: left;
}

.logo {
    width: 65px;
    margin-right: 20px;
    margin-left: 200px;
}

.header-right {
    float: right;
    margin-right: 200px;
    margin-top: 20px;
}

ul,
li {
    float: left;
    padding-right: 40px;
    margin-top: 10px;
}

li a {
    font-size: 18px;
    font-weight: normal;
    color: #035755;
}

.contact {
    font-size: 18px;
    font-weight: normal;
    color: #FF383D;
    border-style: solid;
    border-color: #FB4C47;
}


/*=============TOP MAIN=============*/

.top-main {
    background-image: url(/assets/images/background-top.png);
    background-size: cover;
    padding-top: 400px;
    padding-bottom: 200px;
    padding-left: 200px;
}

.container {
    width: cover;
    margin: 0 auto;
}

.container h1 {
    font-size: 50px;
    color: #035755;
    font-weight: bold;
    line-height: 130%;
}

.container h2 {
    font-size: 30px;
    color: #FA5652;
    font-weight: bold;
    line-height: 120%;
}

.container p {
    width: 700px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 25px;
}

.btn-main {}

.btn {
    font-weight: bold;
    padding: 20px 40px;
    display: inline-block;
    border-radius: 65px;
}

.btn-bg {
    font-size: 24px;
    color: #fff;
    background-color: #FB4C47;
}